.app_theme_dark {
	--bg-color: rgb(10 31 73);
	--color-primary: rgb(139 162 6);
	--color-secondary: rgb(84 143 28);
	--inverted-bg-color: rgb(187 197 217);
	--inverted-color-primary: rgb(5 67 143);
	--inverted-color-secondary: rgb(15 48 87);
}